<meteor-include src="topbar"></meteor-include>
<div class="row">
  <div class="columns large-12">
    <h2 class="text-center">New blockly block</h2>
  </div>
</div>
<div class="row">
  <div class="columns large-4">
    <h3>Block Json to</h3>
    <p>Can be styled in blockly.scss.</p>
    <input type="text" ng-model="blockname" ng-disabled="distitle">
    <button ng-click="SaveToaccount()" class="button expand">Save to account</button>
    <div data-alert class="alert-box" ng-class="alertclass" ng-show="showalert">
      <p>{{message}}</p>
      <a href="#" class="close">&times;</a>
    </div>
    <textarea rows="50" cols="60" id="source"></textarea>
  </div>

  <div class="columns large-8">
    <ng-blockly></ng-blockly>
  </div>
</div>
<meteor-include src="footer"></meteor-include>
